.cache/
.dmrc
.fehbg
.gitconfig
.local
.mozilla/
.npm/
.ssh/
.vboxclient*
.xsession-errors*
Downloads/
Telegram/
bin/
.bash_*
.Xauthority
.config/Thunar/
.config/coc/
.config/configstore/
.config/dconf/
.config/gh
.config/gtk-3.0/
.config/mimeapps.list
.config/neofetch
.config/pavucontrol.ini
.config/pulse
.config/xfce4
.config/QtProject.conf 
.cargo/
.config/discord/
.config/omf
.config/picom
.pki
.atom/
.config/Atom/
.config/goto
.config/Google Play Music Desktop Player/
.config/qtile/settings/__pycache*
.config/nvim/plugged/
.config/fish/completions
.config/fish/functions
202*.png
avatar.jpg
.config/fish/conf.d
.fzf.bash
.config/eDEX-UI/
.electron-gyp/
.z
